body {
    margin: 0;
}
.header {
    background-color: antiquewhite;   
}
.title {
    text-align: center;
    font-size: 4.5rem;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.main {
    background-color:wheat;
}
.continer-body {
    padding-left: 10vw;
    padding-right: 10vw;
}
.add-button {
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}
.book-cover {
    height: 250px;
    width: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%; 
    

}
.book-panel {
    display: flex;
    flex-wrap: wrap;
}
.book {
    padding: 25px;
}
.book-title {
    text-align: center;
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}
.book-year {
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}
.book-author {
text-align: center;
margin: 0;
padding-bottom: 20px;
font-size: 1.5rem;
}

button.btn.btn-warning.edit {
    background-color: red;
    margin-right: 33px;
}
button.btn.btn-succes.edit {
    background-color: green;
}
.modal-content {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}
h5#exampleModalLabel.modal-title {
    font-size: 1rem;
}
.form-label {
    margin-top: 10px;
    padding-top: 10px;
}
